body{
    background-color: aliceblue;
}
header{
    height: 10vh;
    background-image: url("h6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
p{
    /* 1rem=16px=100%*/
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.p2{
    font-size: 2rem;
    font-family:"Roboto", sans-serif;
    /*from color picker
    for color combination for a website we can use colorhunt website*/
    color: #42adf5;
    line-height: 10rem;
}
h3{
    /*text-align: center;*/
    text-transform: uppercase;
    text-decoration: overline;
    text-indent: 5rem;
    letter-spacing: 1rem;
    text-shadow: 0.1rem 0.2rem green;
}
h1{
    box-sizing: border-box;
    background-color: green;
    width: 50%;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 15px;
    border: 10px solid red;
    margin-top: 50px;
}
.icon{
    font-size: 4rem;
    color: #3262a8;
}
.c1{
    background-color: #6b6ba8;
    display: inline;
}
.c2{
    display: block;
}
.c3{
    display: inline-block;
    padding: 15px;
    border: 2px solid black;
    background-color: #42adf5;
    margin: 10px;
}
#para1{
    background-color: #6b6ba8;
    max-width: 100rem;
}
#para2{
    background-color: #6b6ba8;
    width: 100rem;
}
img{
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}
div{
    width: 80rem;
    height: 200px;
    overflow: scroll;
    background-color: #42adf5;
}